*
  margin: 0px
  padding: 0px
  box-sizing: border-box
  border-collapse: collapse
  user-select: none

.container
  display: grid
  grid-template-columns: auto auto

.left-container
  display: inline-block

.right-container
  display: inline-block

button, select, option
  position: relative
  display: inline-block
  border: none
  border: $button-border
  border-radius: 5px
  background: none
  padding: 5px 10px
  margin: 10px 10px 10px 0px
  font-family: Courier, monospace
  font-weight: bold
  font-size: 1.1rem
  text-transform: capitalize
