.numpad
    display: grid
    grid-template-columns: repeat($cell-num/3, auto)
    grid-template-rows: repeat($cell-num/3, auto)
    height: $numpad-size
    width: $numpad-size
    border: $basic-border

.numpad-cell
    display: inline-block
    height: $numpad-cell
    width: $numpad-cell
    border: $basic-border
    text-align: center
    line-height: $numpad-cell
    font-size: 2rem
    font-family: monospace